.right-list{
    background-size:cover;
    background-image:url('/static/img/right_title.jpg');
    border-bottom: forestgreen 1px solid;
    height:60px;
    width:100%
}

.title1{
    float:left;
    height: 60px;
    width: 250px;
}

.title1 a{
    line-height:60px;
    color: #666;
    width:200px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 100%
}

.title1:hover {
    background-color: #59B200;
}

.title1 a:hover{
    color: white;
}

.title2{
    float:left;
    height: 60px;
    width: 250px;
    margin-left: 10px;
}

.title2 a{
    line-height:60px;
    color: #666;
    margin-top:15px;
    width:200px;
    margin-left: 50px;
    text-decoration: none
}

.title2:hover {
    background-color: #59B200;
}

.title2 a:hover{
    color: white;
}

.follow_list{
    height:700px;
    width:900px;
    position: absolute
}


.follow_box{
    margin-top:20px;
    margin-left:10px;
    width: 140px;
    height: 160px;
    float: left;
    background-color:white
}

.follow_img{
    margin:5px 20px 20px;
    float:left;
    background-color:white;
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.follow_user{
    color: #666;
    margin-left: 20px;
    text-decoration: none
}