{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="main-body">
        <img src="/static/img/backgroud.png/">
        <div class="right-part">
            <div class="logo_box">
                <h3>欢迎你</h3>
                <form action="/login/" name="" method="post">
                    {% csrf_token %}
                    <div class="input_outer">
                        <span class="u_user"></span>
                        <input name="username" class="text" type="text"  placeholder="请输入用户名">
                    </div>
                    <div class="input_outer">
                        <span class="us_uer"></span>
                        <input name="password" class="text"  type="password" placeholder="请输入密码">
                    </div>
                    <div class="input_outer"><button id="button" type="submit">登录</button></div>
                </form>
                <div class="login_foot">
                    <a style="float: left" href="{% url 'forget_pwd' %}">忘记密码？</a>
                    <a style="float: right" href="{% url 'register' %}">注册</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}