{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}忘记密码{% endblock %}
{% block css %}
    <style>
    .logo_box{
	width: 500px;
	height: 500px;
	padding: 35px;
	color: #EEE;
	position: absolute;
	left: 50%;
	top:80%;
	margin-left: -230px;
	margin-top: -250px;
}
.logo_box h3{
	text-align: center;
	height: 20px;
	font: 20px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
	color: #FFFFFF;
	line-height: 20px;
	padding:0 0 35px 0;
}

.input_row{
  height:46px;
    width:500px;
    margin-bottom: 30px;
    position: relative;
}

.input_outer {
    height: 46px;
    width: 400px;
    border-radius:30px ;
    border: #ffffff 2px solid;
    font: 15px "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei";
    display: inline-block;
    background:none;
}

    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" >
{% endblock %}
{% block content %}
    <div class="main-body" style="background-image: url('/static/img/bbg.jpg')">
    <img src="/static/img/backgroud.png/">
        <div class="logo_box">
            <h3 style="color: #ffffff">找回密码</h3>
          <form action="/password_forget/" method="post">
                <div class="input_row">邮箱：
                    <input name="email" class="input_outer" type="text" style="color: #ffffff!important; position:absolute;z-index:100;"placeholder="请输入邮箱">
                </div>
                <div style="height:80px;margin-top:15px">
                    <label >验&nbsp;证&nbsp;码：</label>
                    <p>
                    {{ forget_form.captcha }}
                </div>
               <div style="width:400px;margin-top:20px;height: 50px;font-size: 15px;overflow: hidden ">
                   <button type="submit" style="background:rgba(255,255,255,0.3);width:80px;height:40px;border-radius:10%;margin-left:200px;color: #fff">提交</button>
               </div>
               {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
               {% endif %}
               {% csrf_token %}
         </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script>
		$('img.captcha').click(function() {
			$.getJSON('/captcha/refresh/',function(json) {
                // This should update your captcha image src and captcha hidden input
				console.log(json);
				$("img.captcha").attr("src",json.image_url);
				$("#id_captcha_0").val(json.key);
			});

			return false;
		});
    </script>
{% endblock %}
