{% extends 'usercenter.html' %}
{% load staticfiles %}
{% block title %}修改密码{% endblock %}
{% block css %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" >
     <link rel="stylesheet" type="text/css" href="{% static 'css/usercenter.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css/pswd_modify.css' %}">
{% endblock %}
{% block content %}
    <div class="user-right">
        <div  class="fr">
            <form action="/password_modify/" method="post">
                <div class="fr_title">修改密码</div>
                <div class="fr_box">
                    <label>原&nbsp;始&nbsp;&nbsp;密&nbsp;码：</label>
                    <input name="original_paswd" type="password">
                </div>
                <div class="fr_box">
                    <label>新&nbsp;&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                    <input name="new_paswd1" type="password">
                </div>
                <div class="fr_box">
                    <label>确认新密码：</label>
                    <input  name="new_paswd2" type="password">
                </div>
                <div class="message_box">
                    {{ message }}
                </div>
                <div>
                    <button type="submit" class="fr_btn">保存</button>
                </div>
                 {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}