{% extends "user.html" %}
{% load staticfiles %}
{% block title %}user{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/user.css' %}" >
{% endblock %}
{% block content %}
    <div class="user_right">
        <table class="user_list">
            <tr><td><h3>TA的关注</h3></td></tr>
            <tr>
                <td><a href="/user-{{ user.username }}/user_favorite/">TA关注的问题</a></td>
                <td><a href="/user-{{ user.username }}/user_favorite_person/">TA关注的人</a></td>
                <td><a href="/user-{{ user.username }}/user_follower/">TA的粉丝</a></td>
            </tr>
        </table>
        <p></p>
        <table class="user_question">
            <tr>
                <td>问题标题</td>
                <td>时间</td>
                <td>回答</td>
            </tr>
            {% for favorite in favorites %}
                <tr>
                    <td><div class="user_title"><a href="/detail-{{ favorite.question.id }}/">{{ favorite.question.qtitle }}</a></div></td>
                    <td><div class="user_time">{{ favorite.question.q_time|date:"Y-m-d" }}</div></td>
                    <td><div class="user_answer">{{ favorite.question.answer_set.count}}</div></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content%}