{% extends "community_show.html" %}
{% load staticfiles %}
{% block title %}问答社区{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/community_show.css' %}" >
{% endblock %}
{% block content %}
    <div class="community_detail">
        <h3>社区简介</h3>
        <div class="community_content">
            <div class="community_name">
                <img src="{{ community.c_img.url }}">
                <h4>{{ community.c_name }}</h4>
                <pre>{{ community.community_member_set.count|add:"1" }}个成员          创建时间：{{ community.c_time|date:"Y-m-d" }}</pre>
                <div class="community_introduction">
                    {% if community.c_introduction %}{{ community.c_introduction }}{% else %}暂无简介{% endif %}
                </div>
            </div>
            <hr>
            <div class="community_notice">
                <h4>公告</h4>
                {% if req.session.username == community.c_author_id %}
                    <a href="/community-{{ community.id }}/notice/"><button>发布公告</button></a>
                {% else %}
                    <a><button onclick="alert('非创建者不能发布公告')">发布公告</button></a>
                {% endif %}
                <p></p>
                {% for notice in notices %}
                    <div class="notice_detail">
                        <li>{{ notice.cn_title }}</li>
                        <span>{{ notice.cn_content }}</span>
                    </div>
                {% empty %}
                    <p>暂无公告</p>
                {% endfor %}
            </div>
        </div>
        <div class="community_member">
            <h4>社区成员</h4>
            {% if request.session.username == answer.aauthor_id %}
                <li>
                    <a href="/user-{{ community.c_author.username }}/user_question/"><img src="{{ community.c_author.headshot_img.url }}"></a>
                    <a href="/usercenter_index/">{{ community.c_author_id }}</a>
                    <span>创建者</span>
                </li>
            {% else %}
                <li>
                    <a href="/user-{{ community.c_author.username}}/user_question/"><img src="{{ community.c_author.headshot_img.url }}"></a>
                    <a href="/user-{{ community.c_author_id }}/user_question/">{{ community.c_author_id}}</a>
                    <span>创建者</span>
                </li>
            {% endif %}
            {% for member in members %}
                {% if request.session.username == answer.aauthor_id %}
                    <li>
                        <a href="/user-{{ member.member.username }}/user_question/"><img src="{{ member.member.headshot_img.url }}"></a>
                        <a href="/usercenter_index/">{{ member.member_id }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="/user-{{ member.member.username }}/user_question/"><img src="{{ member.member.headshot_img.url }}"></a>
                        <a href="/user-{{ member.member_id }}/user_question/">{{ member.member_id }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content%}